/*.THIS .slds-m-around_small{
    position: fixed;
    bottom: -12px;
    left: 0;
    z-index: 9999;
    background: #fff;
    width: 98.2%;
    right: 0;
    padding: 5px;
}*/


.THIS .scrollDiv{
    height: 350px;
 overflow-y: auto;
}
.THIS .slds-float_right {
    text-align: center;
    float: inherit;
}

.THIS .col4 {
       width: 31.5%;
    float: left;
    margin: 9px;
}

.THIS .slds-tabs_default__nav {clear: both;}

.THIS .slds-truncate{
    cursor:pointer;
}
.THIS #contentWrapper {
    background: #ffffff;
    min-height: 100vh;
}
.THIS .scrollDiv {
    height: 203px;
    overflow-y: auto;
}
.THIS .slds-show {
    padding: 0rem;
}