<apex:page controller="CommunitiesTravelController" showHeader="false" sidebar="false" standardStylesheets="false" cache="false" docType="html-5.0">
    <apex:composition template="ConnectingPointTemplate" >
        <apex:define name="title">
            <title>{!eventProd.Name} Travel Information</title>
        </apex:define>
        <apex:define name="headerlogo">
            <c:CommunitiesHeader comp_Event="{!eventProd}"/>
        </apex:define>
        <apex:define name="body">
            <ul class="nav nav-tabs with-border">
                <li class="active"><a data-toggle="tab" href="#HotelDetails">Venue Details</a></li>
                <li><a data-toggle="tab" href="#TravelDetails">Travel Details</a></li>
                <!-- Only render the additional Info Tab, If the user is an executive -->
             <!--   <apex:variable var="isExec" rendered="{!permissions.IsExecutive}" value="{!permissions.IsExecutive}"> 
                    <li><a data-toggle="tab" href="#AdditionalInfo">Additional Information</a></li>
                </apex:variable> -->
            </ul>
          <apex:outputPanel id="travel-content-wrapper" rendered="{!Not(isEmpty)}" styleClass="container-fluid">
                <div class ="tab-content"> <!-- Made this change, change it back to home if needed-->
                    <!-- Hotel Information Section-->        
                        <div id="HotelDetails" class="tab-pane fade in active">
                                <!--<div class="col-sm-12">-->
                                    <!-- Hotel Details Section -->
                                    <div class="main-part">
                                    <apex:outputPanel layout="block" >
                                        <div class="page-header">
                                          <h3>{!IF(NOT(ISBLANK(eventProd.Hotel_details_Header__c)),eventProd.Hotel_details_Header__c,"Hotel")}<small></small></h3>
                                        </div>
                                        <apex:outputPanel layout="none" rendered="{!permissions.IsExecutive}">
                                       <!-- <h3>Confirmation<small></small></h3> -->
                                        Your Hotel Confirmation: <apex:outputField value="{!currentContactEventOrder.Hotel_Confirmation__c}" />
                                         <div> <!-- line height of this Value is not 1, so the icon of the link needs to be adjusted-->
                                        <apex:outputLink styleClass="btn-link-ii pop-text-before" value="{!eventProd.Venue_URL__c}" target="_blank" >{!eventProd.Venue__c}</apex:outputLink>
                                        </div>
                                    </apex:outputPanel>
                                     <apex:outputPanel layout="none" rendered="{!permissions.IsSupplier}">
                                        <div> <!-- line height of this Value is not 1, so the icon of the link needs to be adjusted-->
                                        <apex:outputLink styleClass="btn-link-ii pop-text-before" value="{!eventProd.Hotel_Reservation_URL__c}" target="_blank" >{!eventProd.Venue__c}</apex:outputLink>
                                        </div>
                                     </apex:outputPanel>   
                                        <apex:outputField value="{!eventProd.Location__c}" />
                                        <br />
                                    </apex:outputPanel>
                                    
                                    </div>

                                                            <!-- GENERAL Travel Details -->
                                    <div class= "content-part">
                                    <apex:outputPanel layout="block" > <!-- rendered="{!permissions.IsSupplier}"-->
                                        <div class="page-header">
                                            <h3>{!IF(NOT(ISBLANK(eventProd.Travel_details_Header__c)),eventProd.Travel_details_Header__c,"Location")} <small></small></h3>
                                        </div>
                                        <div class="detail-part">
                                        <apex:outputField id="travelDetails"  value="{!eventProd.Travel_Details__c}"  />
                                        </div>
                                    </apex:outputPanel>
                                    </div>
                                <!-- Attire Section Details -->
                                    <div class ="content-part">
                                    <apex:outputPanel layout="block"  rendered="{!NOT(ISBLANK(eventProd.Attire_Details__c))}"> <!-- rendered="{!permissions.IsSupplier}"-->
                                        <hr/>  
                                        <div class="page-header">
                                            <h3>{!IF(NOT(ISBLANK(eventProd.Attire_details_Header__c)),eventProd.Attire_details_Header__c,"Attire")}<small></small></h3>
                                        </div>
                                        
                                            <!--PLACE HOLDER FOR REFERENCING THE ATTIRE SECTION -->
                                        <div class="detail-part">
                                         
                                        <apex:outputField value="{!eventProd.Attire_Details__c}" /> 
                                        </div>
                                    </apex:outputPanel>
                                    </div>
                              
                                <!--</div>-->
                        </div>
                <!-- Travel Details Tab-->
                        <div id="TravelDetails" class="tab-pane fade">
                                      <!-- Flight Information-->
                       <!-- <div id="FlightDetails" class="tab-pane fade"> -->
                            <apex:outputPanel layout="block"  rendered="{!permissions.IsExecutive &&  !ISBLANK(currentContactEventOrder.Airline_and_flight__c)}">
                                <div class="page-header">
                                  <h3>{!IF(NOT(ISBLANK(eventProd.Flight_Information_Header__c)),eventProd.Flight_Information_Header__c,"Flight")}<small></small></h3>
                                </div>

                                <div>
                                <apex:outputField value="{!currentContactEventOrder.Airline_and_flight__c}"/>
                                <br/>
                                <apex:outputLink styleClass="btn-link-ii" value="{!IF(CONTAINS(currentContactEventOrder.Airline_and_flight_URL__c,'http'),currentContactEventOrder.Airline_and_flight_URL__c, 'https://'+currentContactEventOrder.Airline_and_flight_URL__c)}" target="_blank">Click Here</apex:outputLink>
                                </div>

                                <apex:outputText rendered="{!currentContactEventOrder.Airline_and_flight__c == NULL}" value="Check back for your flight information." />
                                <hr/>
                            </apex:outputPanel>

                            <apex:outputPanel layout="block"  rendered="{!permissions.IsExecutive && ISBLANK(currentContactEventOrder.Ground_Transportation__c) && ISBLANK(currentContactEventOrder.Airline_and_flight__c)}">
                                <div class="page-header">
                                  <h3>{!IF(NOT(ISBLANK(eventProd.Flight_Information_Header__c)),eventProd.Flight_Information_Header__c,"Flight Information")}<small></small></h3>
                                </div>

                                <apex:outputText rendered="{!currentContactEventOrder.Airline_and_flight__c == NULL}" value="Check back for your flight information." />
                                <hr/>
                            </apex:outputPanel>
                    <!--   </div> -->                <!-- Ground Tansportation Tab-->
                        <!--<div id="GroundTransport" class="tab-pane fade"> -->
                            <apex:outputPanel layout="block"  rendered="{!permissions.IsExecutive && currentContactEventOrder.Ground_Transportation__c != NULL}">
                               <!-- <div class="page-header">
                                  <h3>Car Rental<small></small></h3>
                                </div>
                                <apex:outputField value="{!currentContactEventOrder.Ground_Transportation__c}" /> -->
                            <!--    <apex:outputText rendered="{!currentContactEventOrder.Ground_Transportation__c == NULL}" value="Check back soon" /> -->
                            </apex:outputPanel>
                            <apex:outputPanel layout="block"  > <!-- rendered="{!permissions.IsSupplier}"-->
                                <div class="page-header">
                                  <h3>{!IF(NOT(ISBLANK(eventProd.Ground_Transportation_Header__c)),eventProd.Ground_Transportation_Header__c,"Ground Transportation")}</h3>
                                </div>
                                <apex:variable var="prodTransportWrapper" value="prodTransportWrapper" rendered="{!IF(NOT(permissions.isExecutive && currentContactEventOrder.Ground_Transportation__c != NULL),true,false)}">
                                    <apex:outputField value="{!eventProd.Ground_Transportation_Details__c}" styleClass="sfdc_richtext"/>
                                </apex:variable>
                                <apex:variable var="prodTransportWrapper" value="prodTransportWrapper" rendered="{!IF(permissions.isExecutive && currentContactEventOrder.Ground_Transportation__c != NULL,true,false)}">
                                    <apex:outputField value="{!currentContactEventOrder.Ground_Transportation__c}" styleClass="sfdc_richtext"/>
                                </apex:variable>
                            </apex:outputPanel>
                       <!-- </div> -->

                          <!--  <apex:outputPanel layout="block"  rendered="{!yourActivities.size > 0}">
                                <div class="page-header">
                                  <h3>Your Activities <small></small></h3>
                                </div>
                                <apex:repeat value="{!yourActivities}" var="a">
                                    <p>
                                    <strong><apex:outputField value="{!a.Question__r.Question__r.Question_Description__c}" /></strong>
                                    <br/>
                                    <apex:outputField value="{!a.Activity_Details__c}" />
                                    </p>
                                </apex:repeat>
                            </apex:outputPanel> -->
                       <!-- </div> -->                       

                       </div>
              <!-- Other Information-->
                  <!--  <div id="AdditionalInfo" class="tab-pane fade">
                            <apex:outputPanel layout="block" styleClass="col-sm-12" rendered="{!permissions.IsExecutive}">
                                <div class="page-header">
                                  <h3>Additional Information <small></small></h3>
                                </div>
                                <apex:outputField rendered="{!eventProd.Executive_Other_Information__c != NULL}" value="{!eventProd.Executive_Other_Information__c}" />
                                <apex:outputText rendered="{!eventProd.Executive_Other_Information__c == NULL}" value="Check back soon" />
                            </apex:outputPanel>
                        </div> -->
                   
                </div>

            </apex:outputPanel>

            <div class='message-wrapper'>
                <apex:outputText value="{!message}" rendered="{!isEmpty}"/>
            </div>
        </apex:define>
    </apex:composition>
    <style type="text/css">

        h1, h2, h3, h4, h5, h6, p, a {
        font-family: "Lucida Sans Unicode", "Lucida Sans Grande", "sans-serif";
        }
        
        #maincontent{
            display: block;
            max-width: 100%;
            padding:50px 15px;
            background-color:#ffffff;
            font-family: "Lucida Sans Unicode", "Lucida Sans Grande", "sans-serif";
            font-size: 16px;
            font-size: 1.6rem;
        }

        a {
        color: #{!IF(NOT(ISBLANK(eventProd.Event_Tint_Color__c)), eventProd.Event_Tint_Color__c,'77777a')};
        display:inline-block;
        
        }
        a:hover, a:focus {
        text-decoration:none;
        color: #{!IF(NOT(ISBLANK(eventProd.Event_Navigation_Color__c)), eventProd.Event_Navigation_Color__c,'ddd9d5')};
        }


        .btn-link {
        line-height: 1;

        <!--text-transform: uppercase;-->
        letter-spacing: 0.1em;
        font-size: 14px;
        font-size: 1.4rem;
        white-space: pre-wrap;
        word-wrap: break-word;
        color: #{!IF(NOT(ISBLANK(eventProd.Event_Tint_Color__c)), eventProd.Event_Tint_Color__c,'77777a')};
        cursor: pointer;
        position: relative;
        display:inline-block;
        text-decoration:underline;
        }


      

        .btn-link:hover, .btn-link:focus {
        text-decoration: none;
        color:#{!IF(NOT(ISBLANK(eventProd.Event_Navigation_Color__c)), eventProd.Event_Navigation_Color__c,'ddd9d5')};
        }

         .btn-link-ii {
        line-height: 1;
        <!--text-transform: uppercase;-->
        letter-spacing: 0.1em;
        font-size: 14px;
        font-size: 1.4rem;
        white-space: pre-wrap;
        word-wrap: break-word;
        color: #{!IF(NOT(ISBLANK(eventProd.Event_Tint_Color__c)), eventProd.Event_Tint_Color__c,'77777a')};
        cursor: pointer;
        position: relative;
        display:inline-block;
        text-decoration:underline;
        }


        .btn-link-ii:hover, .btn-link-ii:focus {
        text-decoration: none;
        color: #{!IF(NOT(ISBLANK(eventProd.Event_Navigation_Color__c)), eventProd.Event_Navigation_Color__c,'ddd9d5')};
        }






        .message-wrapper{
            text-align: center;
            padding: 50px;
        }

        .main-part {
            border-bottom: 1px solid #d8d8d8;
            padding-bottom:30px;
        }

        .content-part {
        padding:30px 0px;
        }

        .page-header h3 {
            font-family: "Lucida Sans Unicode", "Lucida Sans Grande", "sans-serif";
            color: #{!IF(NOT(ISBLANK(eventProd.Event_Navigation_Color__c)), eventProd.Event_Navigation_Color__c,'ddd9d5')};
            letter-spacing:1px;
            font-size:34px;
            font-size:3.4rem;
            margin: 5px 0px;
        }
        /*.table-Header{
            text-align: center;
            vertical-align: bottom;
            font-weight: bolder;
            font-size: medium;
            padding: 5px;
        } */
        .page-header {
            border-bottom:none;
            margin: 0px;
        }
        .pop-text {
            color: #16c1e5;
            font-weight:bold;
        
        }


        .column-header{
        background-color: #{!IF(NOT(ISBLANK(eventProd.Event_Navigation_Color__c)), eventProd.Event_Navigation_Color__c,'ddd9d5')};
        padding: 10px 20px;
        }

        .column-title{
        color: white;
        font-size: 14px;
        font-size:1.4rem;
        padding: 0;
        text-align: center;
        }

        .column-content{
        padding: 14px;
        background-color: white;
        text-align: center;
        }

        .col-md-4{
            padding: 14px;
        }
        .travel-header{
            padding-right: 0px;
            padding-left: 0px;
            background-color: white;
            margin-bottom: 25px;
        }
        .travel-header-content{
            font-size: 150%;
            font-weight: bolder;
        }

        .with-border {
            border-bottom: 1px solid #{!IF(NOT(ISBLANK(eventProd.Event_Navigation_Color__c)), eventProd.Event_Navigation_Color__c,'ddd9d5')};
        }

        .nav-tabs > li {
            margin-bottom: 0px;
            margin-right:7px;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background-color: #{!IF(NOT(ISBLANK(eventProd.Event_Navigation_Color__c)), eventProd.Event_Navigation_Color__c,'ddd9d5')};
            color: #ffffff;
            

        }
        .nav > li > a:hover, .nav > li > a:focus {
            background-color: #{!IF(NOT(ISBLANK(eventProd.Event_Tint_Color__c)), eventProd.Event_Tint_Color__c,'77777a')};
        
        }
         .nav-tabs > li > a {
            background-color: #eeeeee;
            color: #3a3a3a;
            font-size:16px;
        } 



        .sfdc_richtext{
            display: block;
            max-width: 100%;
            padding:30px 0px;
            background-color:#ffffff;
            font-family: "Lucida Sans Unicode", "Lucida Sans Grande", "sans-serif";
            font-size: 16px;
            font-size: 1.6rem;
        }

        .float-img {
            display:block;
            float:right;
            top:0;
            margin: 0px 0px 20px 20px;

        }

      
        
        @media only screen and (max-width: 768px) {
      

        .sfdc_richtext > img {
        max-width:100%;
        width:auto;
        height:auto;
        margin:20px;
        }
        }



        @media only screen and (max-width:998px) {
            .float-img {
                float:none;
                margin: 20px auto;
                max-width:100%;
                height:auto;
            }
        }


    </style>
    <apex:outputPanel id="jspanel">
        <script>
        $(document).ready(function () {
            //navigation color
            $('.travel-header .travel-header-content').css({"color":"#{!navColor}"});

            $('.sfdc_richtext').find('img').addClass("float-img");
            $('.sfdc_richtext').find('a').addClass("btn-link");
            $('.pop-text-before').parent().prev('span').addClass("pop-text");
        });
        </script>
    </apex:outputPanel>
</apex:page>