<apex:page controller="ContactRelateCTRL">
<apex:includeLightning />
<script type = "text/javascript">
    var newwindow = window.open('/003/e?retURL=%2F{!AcctId}&accid={!AcctId}&RecordType={!ConRecId}&ent=Contact','_self');
    newwindow.focus();
</script>
</apex:page>