<apex:page showHeader="false" sidebar="false" standardController="Product2" extensions="EventUserCreationController" action="{!supplierUserCreationProcess}">
      <style>
        .clsDiv {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 999;
                padding: 100px 0 0 0;
            }
            .popup-content {
                width: 331px;
                margin: 0 auto;
                text-align: center;
                border: 1px solid #fff;
                border-radius: 9px;
                padding: 19px;
                background: #f2f2f2;
                left: 507px;
                top: 115px;
                visibility: visible;
                border-color: #bce8f1;
            }
            body button, body .x-btn, body .btn, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton {
               color: #fff;
                border-radius: 4px;
                margin: 2px;
                padding: 5px 22px;
                border: 1px solid #b5b5b5;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                background: #82ce34;
                font-weight: bold;
                font-size: .9em;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px; 
            }
      </style>
      <apex:form >
      
          <apex:outputPanel rendered="{!SuccessMessage != null}">
            <div class="clsDiv">
                <div class="popup-content">
                   <!-- <apex:image url="{!$Resource.success_icon}" width="30" height="30"/>-->
                        <p>{!SuccessMessage}</p>
                    <input type="button" value="Ok" class='btn' onClick="if('{!$User.UITheme}'=='Theme3'){window.parent.location.href='/{!eventId}'}if('{!$User.UITheme}'=='Theme4d'){window.parent.location.href='/{!eventId}'}"></input>
                </div>
            </div>
          </apex:outputPanel>  
    </apex:form>
</apex:page>